



body{

    font-family: 'Sono', sans-serif;
    font-weight: 400;
    font-size: 16px;

    background: #666;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.container{
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper{
    box-shadow: 4px 4px 10px rgb(49, 46, 46);
}


.button {
    min-width: 150px;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;    
    background-size: 400%;
    color: #fff;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  .button-download{
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, .7) 10.8%,
      rgba(99, 88, 238, .7) 94.3%
    );
  }
  .button-download::before{
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
  }
  .button-open{
    background: #3d3a4e;
  }
  .button-open::before{
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
  }
  button:active{
    opacity: 0.5;
  }


  input[type='file']{
    display: none;
  }


  .preview{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
  }

  .preview-item:hover button{
    opacity: 1;
    transition: opacity 0.3s linear;
  }
  .preview-item button svg{
    pointer-events: none;
  }

  .preview-item .file-info{
    transform: translateY(100%);
    transition: 0.2s linear;
  }
  .preview-item .file-info.upload{
    background: #ffffffc0;
    border-radius: 0;
    padding: 0;
    transform: translateY(0)
  }
  .preview-item:hover .file-info{
    transform: translateY(0);
    transition: 0.2s linear;
  }
  .preview-item .file-info:hover{
    background: #ffffffc6;
  }
  .preview-item .file-info .preview-info-progress{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: width 0.22s linear;

    width: 0%;
  }


  .preview-item.preview-remove{
    transform: scale(0) translateY(-500px);
    opacity: 0.5;
    transition: 0.3s linear;
  }